
form {
    text-align: center;
    margin-top: 100px;
}

.login-form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.label-email, .label-password {
    margin: 0px;
    margin-top: 2px;
    font-size: 1em;
}

.login-form > button {
    margin: 5px;
}

.login-form {
    margin-right: 800px;
    margin-left: 800px;
}










